body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  text-align: center;
}

.top {
   text-align: center;
}

.content {
  text-align: center;
}

.logo {
  text-align: center;
  margin-top: 40px;
  padding: 30px;
}

.logo1 {
  max-width: 100%;
}

.p1 {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',monospace;
  color: white;
  font-weight: bold;
  /*animation:  1s logotype infinite;*/
  font-size: 50px;
  background-color: #e9b403;
  border-radius: 10px;
  margin: 50px;
  padding: 20px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.run_pic {
  left:0;
  width: 320px;
  height: 240px;
}

.phone_pic {
  width: 480px;
  height: 240px;
}

.map_pic {
  width: 320px;
  height: 240px;
}


@keyframes logotype {
  50%{
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width:600px) {
  .map{
      font-size: 50px;
  }

  .p1 {
    font-size: 50px;
  }
  
  .p2 {
    font-size: 40px;
  }
}

@media (max-width:400px) {

  .map{
      font-size: 70px;
  }

  .p1 {
    font-size: 50px;
  }
  
  .p2 {
    font-size: 40px;
  }
}
