html {
    overflow-x: hidden;
}

body {
  margin: 0;
  font-family: Microsoft JhengHei;
  text-align: center;
  overflow-x: hidden;
}

.btn {
  border: none;
  padding: 10px;
  font-size: 80px;
  box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.1);
  background-image:url(pic.jpg);
  width: 300px;
  height: 175px;
}

.tip {
  font-size: 20px;
  color: #aaaaa9;
}

.content {
  text-align: center;
}

.logo {
  text-align: center;
}

.logo1 {
  width: 250px;
  margin-top: 10px;
}

.p1 {
  font-size: 50px;
  font-weight: bolder;
  color: cadetblue;
}

.p1_1 {
  font-size: 40px;
  font-weight: bolder;
  color: cadetblue;
}

.p2 {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',monospace;
  color: rgb(255, 81, 81);
  font-weight: bold;
  animation:  1s logotype infinite;
  font-size: 50px;
}

@keyframes logotype {
  50%{
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width:600px) {
  .p1 {
    font-size: 40px;
    font-weight: bolder;
    color: cadetblue;
  }
  
  .p1_1 {
    font-size: 30px;
    font-weight: bolder;
    color: cadetblue;
  }

  .btn {
   
    padding: 10px;
    font-size: 60px;
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.1);
  }

  .p2 {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',monospace;
    color: rgb(255, 81, 81);
    font-weight: bold;
    animation:  1s logotype infinite;
    font-size: 40px;
  }
}
